<%= stylesheet_link_tag "animalGallery.css" %>

<div class="container-fluid padding-50">
  <div class="row">
    <div class="col-md-3">
        <%= link_to image_tag("cat_banner.jpg", :class => 'img-circle') %>
        <h3 class="cat-name">Kitty Meow!</h3>
        Age: 21
        Gender: M
        Breed: Mix
    </div>
  </div>
</div>