.aList {
    list-style: none;
}

.carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: 65%;
}

.cat-img {
    width:100px;
    height:100px;
    margin-top:-20px;
    margin-left:32px;
}

.cat-banner {
    width:100px;
    height:100px;
    display:inline-block;
    position:static;
    top:50%;
}

.cat-card-img {
    display:block;
    padding: 1px;
    margin-bottom: 20px;
}

.cat-name {
    font-size: 14px;
    font-family: verdana, arial, helvetica, sans-serif;
}

.cat-summary {
    padding-left:60px;
    font-size: 10px;
    font-family: verdana, arial, helvetica, sans-serif;
}

legend.create-animal-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

fieldset.create-animal {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

.btn {
    background-color: white;
}

form {
    font-size: 12px;
}

.col-sm-offset-2 {
    !important; margin-left:12.33333%;
}

.dropdown-menu {
    !important; border-color: #f0ad4e;
}

.cat-card {
    height: 200px;
    width: 180px;
    display: block;
    position: absolute;
    border: 1px solid #f0ad4e;
    background-color: #f8f8f8;
    text-align: center;
    font-size: small;
    z-index: 10;
}

.btn-card {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #f9f9f9 100%);
    background-image:         linear-gradient(to bottom, #f9f9f9 0%, #f9f9f9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f0ad4e', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #f0ad4e;
}

.btn-card:hover
.btn-card:focus {
    background-color: #2d6ca2;
    background-position: 0 -15px;
}

.btn-card:active,
.btn-card.active {
    background-color: #2d6ca2;
    border-color: #2b669a;
}
