.brand-logo {
    color: #000000;
    font-size: 24px;
    font-family: 'Montserrat', 'sans-serif';
}

.img-banner {
    width:100%;
    height:48%;
    position:fixed;
}

.position-top {
    top:10;
}

.position-bottom {
    bottom:0;
}

.padding-top-250 {
    padding-top: 250px;
    /*padding-bottom: 50px;*/
}

.padding-top-bottom-30 {
    padding-top: 30px;
    padding-botom: 30px;
}

.padding-top-15 {
    padding: 15px 0 0 0;
}

.padding-reset {
    padding: 0 0 0 0;
}

.padding-50 {
    padding: 50px 50px 50px 50px;
}

.padding-top-bottom-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-top {
    padding-bottom: 20px;
}

.padding-right {
    padding-right:25px;
}

.small-text-input {
    width:100px;
}

.medium-text-input {
    width:200px;
}

.padding-left-20 {
    padding-left:20px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.orange {
    color: #f0ad4e;
}

.green {
    color: #67b168;
}

 .peachbox {
     background-color: #e7e7e7;
     padding: 25px 10px 25px 10px;
     border-radius: 10px;
     width: 100%;
     height: 225px;
 }
